<strong><%= l(:label_week) %> <%= @week_start.strftime('%W/%Y') %> (<%= format_date(@week_start) %> - <%= format_date(@week_end) %>)</strong>
<br />

<% form_content = lambda do %>

  <table class="list">
  <thead>
		<tr>
			<th></th>
			<% (@week_start..@week_end).each do |d| %>
			<!-- "#{day_name(d)} #{d.mday}" -->
   		 <th><%= link_to "#{::I18n.t('date.abbr_day_names')[d.wday % 7]} #{d.mday}" , :controller => "hours", :action => "index",
						:day => d.to_s(:param_date) %></th>
			<% end %>
		</tr></thead><tbody>
		<% @week_issues.each do |k, day_groups| %>
      <% issue_id, activity_id = k %>
      <% lines = day_groups.max_by { |_, entries| entries.size }.size %>
      <% date, hashes = day_groups.first %>
      <% info_hash = hashes.first %>
      <% project_id = info_hash[:project_id] %>
      <% 0.upto lines  do |index| %>
        <!--<tr><td><%= info_hash %></td></tr>-->
        <% show_row = false %>
        <% if index == 0 %>
          <% show_row = true %>
        <% else %>
          <% (@week_start..@week_end).map { |d| d.to_s(:param_date)}.each do |d| %>
            <% day_group = day_groups[d] || {} %>
            <% info_hash = day_group[index] || {} %>
            <% show_row = !info_hash.empty? if !show_row %>
          <% end %>
        <% end %>
        <% if show_row %>
        <tr>
          <td>
            <% if index == 0 %>
              <%= link_to info_hash[:project_name], project_path(info_hash[:project_id]) %> -
            <%= link_to info_hash[:issue_text], info_hash[:link], :class => info_hash[:issue_class] if info_hash[:issue_id] %>
            (<%= info_hash[:activity_name]%>)
          <% end %>
          </td>
          <% (@week_start..@week_end).map { |d| d.to_s(:param_date)}.each do |d| %>
            <td>
              <% day_group = day_groups[d] || {} %>
              <% info_hash = day_group[index] || {} %>
              <% issue_key = issue_id || "no_issue:#{info_hash[:project_id]}" %>
              <% if index == 0 || !info_hash.empty? %>
                <%= text_field_tag "hours[#{d}][#{issue_key}][#{activity_id}][#{info_hash[:id] || -index}]",
                                       info_hash[d].nil? || info_hash[d][:hours] == 0.0 ?
                                       '' : info_hash[d][:hours],
                                       :size => 1 %>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if index == 0 %>
              <%= link_to "delete", {:controller => 'hours',
                                  :action => 'delete_row',
                                  :issue_id => issue_id,
                                  :project_id => project_id,
                                  :activity_id => activity_id,
                                  :week =>@week_start.to_s(:param_date)
                                 },
                                  :confirm => l(:text_are_you_sure),
                                  :method => :delete,
                                  :title => l(:button_delete),
                                  :class => "icon-only icon-del" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody><tfoot>
    <tr>
      <td>Total:</td>
      <% (@week_start..@week_end).each do |day| %>
       <td><%= @daily_totals[day.to_s(:param_date)] ? @daily_totals[day.to_s(:param_date)] : 0.0  %></td>
      <% end %>
      <td></td>
    </tr></tfoot>
	</table>

<p id="hours_save">
	<%= submit_tag l(:button_save) %>
</p>

<% end %>

<% if Redmine::VERSION::MAJOR == 1 %>
  <% form_tag :controller => 'hours', :action => 'save_weekly', :week =>@week_start.to_s(:param_date), &form_content %>
<% else %>
  <%= form_tag :controller => 'hours', :action => 'save_weekly', :week =>@week_start.to_s(:param_date), &form_content %>
<% end %>
